@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
menu {
    background-color: #1A1F38;
    color: white;
    padding: 20px;
}
.title{
    font-size: 45px;
    padding-left: 13%;
}
.title{
    color: white;
}
.title_U{
    color: blue;
}
.title_A{
    color: yellow;
}
menu a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding-left: 50px;
    transition: all 1s;
}
menu a:hover{
    color: gray;
}
.navbar {
    display: inline;
    margin-left: 37%;
}
.galaxy_banner{
    position: relative;
    width: 100%;
}
.general_text{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 30%;
    margin-left: 2%;
}
.general_span{
    width: 40%;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 15px;
    text-align: center;
}
h1{
    font-size: 80px;
}
.button_watch{
    position: absolute;
    text-decoration: none;
    color: white;
    background-color:red;
    border-radius: 10%;
    padding: 15px 40px;
    margin-top: 3%;
    margin-left: 16%;
    transition: all 1s;
}
.button_watch:hover{
    color: gray;
    background-color: darkred;
    padding: 25px 50px;
}
.movies{
    background-color: black;
    margin-top: -.5%;
}
h2{
    color: white;
    font-size: 48px;
    padding-top: 7%;
    padding-left: 5%;
}
.block1{
    margin-top: 3%;
    margin-left: 8%;
    display: inline-block;
}
.block1 span{
    margin-left: 2%;
    font-size: 18px;
    color: #B6B6B6;
}
.block1 p{
    color: #828282;
    font-size: 12px;
    margin-top: 3%;
    margin-left: .5%;
}
.block1_text{
    margin-top: -1%;
    background-color: #050E12;
    border-radius: 5%;
    padding: 20px;
    width: 160px;
}
.banner1{
    width: 200px;
}
.block2{
    display: inline-block;
    padding-left: 2%;
}
.banner2{
    width: 200px;
    height: 300px;
}
.block2_text{
    margin-top: -1%;
    background-color: #050E12;
    border-radius: 5%;
    padding: 20px;
    width: 160px;
}
.block2_text span{
    margin-left: 2%;
    font-size: 18px;
    color: #B6B6B6;
}
.block2_text p{
    color: #828282;
    font-size: 12px;
    margin-top: 3%;
    margin-left: .5%;
}
.block3{
    display: inline-block;
    padding-left: 2%;
}
.banner3{
    width: 200px;
    height: 300px;
}
.block3_text{
    margin-top: -1%;
    background-color: #050E12;
    border-radius: 5%;
    padding: 20px;
    width: 160px;
}
.block3_text span{
    margin-left: 2%;
    font-size: 18px;
    color: #B6B6B6;
}
.block3_text p{
    color: #828282;
    font-size: 12px;
    margin-top: 3%;
    margin-left: .5%;
}
.block4{
    display: inline-block;
    padding-left: 2%;
}
.banner4{
    width: 200px;
    height: 300px;
}
.block4_text{
    margin-top: -10%;
    background-color: #050E12;
    border-radius: 5%;
    padding: 18px;
    width: 165px;
}
.block4_text span{
    margin-left: 2%;
    font-size: 18px;
    color: #B6B6B6;
}
.block4_text p{
    color: #828282;
    font-size: 12px;
    margin-top: 3%;
    margin-left: .5%;
}

.block5{
    display: inline-block;
    padding-left: 2%;
}
.banner5{
    width: 200px;
    height: 300px;
}
.block5_text{
    margin-top: -1%;
    background-color: #050E12;
    border-radius: 5%;
    padding: 20px;
    width: 160px;
}
.block5_text span{
    margin-left: 2%;
    font-size: 18px;
    color: #B6B6B6;
}
.block5_text p{
    color: #828282;
    font-size: 12px;
    margin-top: 3%;
    margin-left: .5%;
}